.Button {
  color: var(--primary-color);
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.clear,
.clearInverted {
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

.clear {
  color: var(--primary-color);
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outline {
  border: 1px solid var(--primary-color);
  padding: 10px 15px;
  color: var(--primary-color);
  background: none;
}

.outlineRed {
  border: 1px solid var(--primary-color);
  padding: 10px 15px;
  color: var(--red-light);
  background: none;
}

.background {
  border: none;
  color: var(--primary-color);
  background: var(--bg-color);
}

.backgroundInverted {
  border: none;
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}

.square {
  padding: 0;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.5;
}
